@font-face {
  font-family: "Baloo Tammudu 2";
  src: url("BalooTammudu2-Fixed.woff2") format("woff2"),
    url("BalooTammudu2-Fixed.woff") format("woff"),
    url("BalooTammudu2-Fixed.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

#chat_container {
  font-family: "Baloo Tammudu 2", cursive;
}
