:root {
  --stroke-1: 1px;
  --stroke-2: 2px;
  --stroke-3: 3px;
  --stroke-1-min: -1px;
  --stroke-2-min: -2px;
  --stroke-3-min: -3px;
}

/* #chat_container {
  text-shadow: var(--stroke-1) var(--stroke-3) 0px #000,
    var(--stroke-2) var(--stroke-2) 0px #000,
    var(--stroke-3) var(--stroke-1) 0px #000, var(--stroke-3) 0px 0px #000,
    var(--stroke-3) var(--stroke-1-min) 0px #000,
    var(--stroke-2) var(--stroke-2-min) 0px #000,
    var(--stroke-1) var(--stroke-3-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3) 0px #000,
    var(--stroke-2-min) var(--stroke-2) 0px #000,
    var(--stroke-3-min) var(--stroke-1) 0px #000,
    var(--stroke-3-min) 0px 0px #000,
    var(--stroke-3-min) var(--stroke-1-min) 0px #000,
    var(--stroke-2-min) var(--stroke-2-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3-min) 0px #000,
    var(--stroke-3) var(--stroke-1) 0px #000,
    var(--stroke-2) var(--stroke-2) 0px #000,
    var(--stroke-1) var(--stroke-3) 0px #000, 0px var(--stroke-3) 0px #000,
    var(--stroke-1-min) var(--stroke-3) 0px #000,
    var(--stroke-2-min) var(--stroke-2) 0px #000,
    var(--stroke-3-min) var(--stroke-1) 0px #000,
    var(--stroke-3) var(--stroke-1-min) 0px #000,
    var(--stroke-2) var(--stroke-2-min) 0px #000,
    var(--stroke-1) var(--stroke-3-min) 0px #000,
    0px var(--stroke-3-min) 0px #000,
    var(--stroke-1-min) var(--stroke-3-min) 0px #000,
    var(--stroke-2-min) var(--stroke-2-min) 0px #000,
    var(--stroke-3-min) var(--stroke-1-min) 0px #000;
} */

.colon, .mention:not(.paint), .text-content {
  filter: drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px) drop-shadow(rgb(0, 0, 0) 0px 0px 0.5px);
}