<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TransparentTwitchChatWPF.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="channel" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <TransparentTwitchChatWPF.AppSettings>
      <setting name="channel" serializeAs="String">
        <value />
      </setting>
      <setting name="fade" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="bot_activity" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="window_height" serializeAs="String">
        <value>450</value>
      </setting>
      <setting name="window_width" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="window_left" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="window_top" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="custom_url" serializeAs="String">
        <value />
      </setting>
      <setting name="zoom_level" serializeAs="String">
        <value>0</value>
      </setting>
    </TransparentTwitchChatWPF.AppSettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>