<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net452" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net452" />
  <package id="CefSharp.Common" version="98.1.210" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="Jot" version="1.4.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.5" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="TwitchLib" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Core" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Core.Enums" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Core.Models" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Helix" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.Helix.Models" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.V5" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Api.V5.Models" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Client" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Client.Enums" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Client.Models" version="3.2.0" targetFramework="net461" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net461" />
  <package id="TwitchLib.PubSub" version="3.2.0" targetFramework="net461" />
</packages>