<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="INSTALLFOLDER" Name="TransparentTCO">
			<Directory Id="AssetsFolder" Name="assets" />
		</Directory>
    </StandardDirectory>
	<StandardDirectory Id="DesktopFolder" />
	  <StandardDirectory Id="ProgramFilesFolder">
		  <Directory Id="ApplicationProgramsFolder" Name="TransparentTCO" />
	  </StandardDirectory>
  </Fragment>
</Wix>
