<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		<Component Id="MainExecutable">
			<File Source="TransparentTwitchChatWPF.exe" />
		</Component>
		<Component>
		  <File Source="TransparentTwitchChatWPF.exe.config" />
		</Component>
		<Component>
		  <File Source="TransparentTwitchChatWPF.exe.manifest" />
		</Component>
		<Component>
		  <File Source="index.html" />
        </Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 1 (Low).wav" />
		</Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 1.wav" />
		</Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 2 (Low).wav" />
		</Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 2.wav" />
		</Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 3 (Low).wav" />
		</Component>
		<Component Directory="AssetsFolder">
			<File Source="assets\Alert 3.wav" />
		</Component>
    </ComponentGroup>

	  <ComponentGroup Id="ApplicatonShortcut" Directory="DesktopFolder">
		  <Component>
			  <Shortcut Id="DesktopShortcut"
						Name="TransparentTCO"
						Target="[INSTALLFOLDER]TransparentTwitchChatWPF.exe"
					  />
			  <RegistryValue Root="HKCU" Key="Software\TransparentTCO" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
			  <RegistryValue Root="HKCU" Key="Software\TransparentTCO" Name="Version" Type="string" Value="!(bind.property.ProductVersion)" KeyPath="no" />
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
